{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <form action="" method="post" class="glass-1 p-4">  
            <fieldset class="form-group">
                <legend>Reset Password</legend>
                <br>
                {% csrf_token %}
                {% if form.errors %}
                <div class="text-red-500 mt-1 text-sm">
                    {{ form.errors }}
                </div>
                {% endif %}
                {{form}}
            </fieldset>
            <div class="form-group m-4">
                <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
                    type="submit">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                        Reset password
                    </span>
                  </button>          
            </div>
        </form>
    </div>
{% endblock content %}
