{% extends 'base.html' %}
{% load static %}
{% load tailwind_tags %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <form action="" method="post" class="glass-1 p-4">  
            <fieldset class="form-group ">
                <legend>Blog Post</legend>
                {% csrf_token %}
                {% if form.errors %}
                  <div class="bg-red-400 text-red-500">
                    {{form.errors}}
                  </div>
                {% endif %}
                  <div class="my-4">
                    {{ form.title.label_tag }}
                    {{ form.title|add_class:"bg-black  w-full border p-2 rounded" }}
                  </div>
                  <div class="mb-4">
                    {{ form.content.label_tag }}
                    {{ form.content|add_class:"bg-black  w-full border p-2 rounded" }}
                  </div>
            </fieldset>
            <div class="form-group">
                <button class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800"
                    type="submit">
                    <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">  
                      Update
                    </span>
                  </button>          
            </div>
        </form>
    </div>
{% endblock content %}
